@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 0 100px;
    color: #3A3A3A;
}

.menu-list {
    display: flex;
    gap: 20px;
}

.menu-list li {
    list-style: none;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 0 100px;
}

.banner-txt {
    max-width: 582px;
    color: #3A3A3A;
}

.banner-txt h1 {
    font-size: 3.25rem;
    font-weight: 700;
}

.banner-txt p {
    font-weight: 600;
    margin-bottom: 20px;
}

.banner-txt button {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFF;
    font-weight: 700;
    border: 0;
    cursor: pointer;
}

.banner-img {
    background-image: url('images/Circle\ design.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-img img{
    width: 100%;
}
hr{
    fill: linear-gradient(135deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    width: 1110px;
    margin: 0 auto;
}
.partners{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.partners-1, .partners-2{
    display: flex;
    gap: 40px;
}


/* RESPONSIVE STYLES */

@media screen and (max-width: 576px) {
    nav,
    .partners {
        flex-direction: column;
        padding: 0;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .partners-1, .partners-2{
        justify-content: center;
        gap: 10px;
    }
    hr{
        display: none;
    }
}